<ons-navigator var="myNavigator" page="login.html"></ons-navigator>
<ons-template id="login.html">
    <ons-page ng-controller="loginCtrl">
        <ons-toolbar fixed-style>
            <div class="center">
                ログイン画面
            </div>
        </ons-toolbar>
        <h1 class="top_icon">
        <div class="icon form_icon">
		    <ons-icon icon="fa-sign-in"></ons-icon>
        </div>
		    ログイン
		</h1>
        <div class="form_contents">
            <form class="contents form_padding" name="loginForm" novalidate>
                <dl>
                    <dt class="email">メールアドレス</dt>
                    <dd>
                        <input type="email" name="email" ng-model="login.email" hide-tabbar required email-length/>
                        <div class="error" ng-messages="loginForm.email.$error" ng-messages-multiple ng-if="loginForm.email.$touched">
						  <div ng-repeat="error in errors">
							<span ng-message-exp="error.key">{{error.msg}}</span>
						  </div>
						</div>
                    </dd>
                    <dt class="key">パスワード</dt>
                    <dd class="password">
                        <input type="password" name="password" ng-model="login.password" hide-tabbar required  pass-type pass-length />
						<div class="error" ng-messages="loginForm.password.$error" ng-messages-multiple ng-if="loginForm.password.$touched">
						  <div ng-repeat="error in errors">
							<span ng-message-exp="error.key">{{error.msg}}</span>
						  </div>
						</div>
                    </dd>
                </dl>

                    <div class="pass_change">
                <a ng-click="myNavigator.pushPage('reset/mail.html')" href="#">
                    パスワードを忘れた方はこちら
                    <ons-icon icon="fa-chevron-right" size="1em"></ons-icon>
                </a>
            </div>

                <div class="position_center">
                    <ons-button class="btn" style="margin-bottom: 20px;" modifier="orange" ng-click="signIn()" ng-disabled="!loginForm.$valid">
                        ログイン
                    </ons-button>
                    <ons-button class="btn" ng-click="myNavigator.pushPage('user/user_regist.html')">
                        会員登録
                    </ons-button>
                </div>
            </form>
        </div>

        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/page_back_color.css">
    </ons-page>
</ons-template>
