<ons-page>
   <ons-toolbar fixed-style class="with-back">
		<div class="left">
			<ons-back-button modifier="back">戻る</ons-back-button>
		</div>
		<div class="center">
			災害情報一覧
		</div>
	</ons-toolbar>
  	<main ng-controller="listCtrl" ng-init="init()">
	  <div class="count">
		情報件数:<span ng-bind="posts.length"></span>件
	  </div>
	<ons-list>
		<ons-list-item modifier="chevron disaster_list" class="info" ng-click="myNavigator.pushPage('display/detail.html')" ng-repeat="p in posts">
			<ons-row class="date right">
				<span ng-bind="p.updateDate | date:'yyyy/MM/dd HH:mm'"></span>
			</ons-row>
			<ons-row>
			<ons-col width="105px">
			  <div class="photo">
			  	<img class="photo" ng-src="https://mb.api.cloud.nifty.com/2013-09-01/applications/TOjZsCJbSJeKWALV/publicFiles/{{p.photo}}">
			  </div>
			</ons-col>
			<ons-col>
				<span to-correspond="{{p.correspond}}"></span>
			  <div class="address" ng-bind="p.address"></div>
			  <div class="name" ng-bind="p.username"></div>
			  <div ng-bind="p.comment"></div>
			</ons-col>
			</ons-row>
		</ons-list-item>
	</ons-list>
  	</main>
	<link rel="stylesheet" href="css/display.css">
</ons-page>
