<ons-navigator page="img_select.html" var="myNavigator"></ons-navigator>
<ons-template id="img_select.html">
   <ons-page ng-controller="imgSelectCtrl">
       <ons-toolbar fixed-style>
        <div class="center">
            画像選択
        </div>
        </ons-toolbar>
        <main class="contents">
           <p class="info">
               アップロードする画像を選択してください。
           </p>
            <ons-button ng-click="showCamera()"><ons-icon icon="fa-camera"></ons-icon> カメラで撮影する</ons-button>
            <ons-button ng-click="showGallery()"><ons-icon icon="fa-image"></ons-icon> ギャラリーから選ぶ</ons-button>
         </main>
        <link rel="stylesheet" href="css/post.css">
    </ons-page>
</ons-template>
<ons-template id="post.html">
    <ons-page ng-controller="postCtrl">
        <ons-toolbar fixed-style class="with-back">
            <div class="left">
                <ons-back-button modifier="back">戻る</ons-back-button>
            </div>
            <div class="center">
                投稿フォーム
            </div>
        </ons-toolbar>
        <main>
           <form id="post_form" action="">
                <img class="img-resize" ng-src="{{imageURI}}" alt="">
           </form>
        </main>
        <link rel="stylesheet" href="css/post.css">
    </ons-page>
</ons-template>
