<ons-navigator page="img_select.html" var="myNavigator"></ons-navigator>
<ons-template id="img_select.html">
    <ons-page ng-controller="imgSelectCtrl">
        <ons-toolbar fixed-style>
            <div class="center">
                画像選択
            </div>
        </ons-toolbar>
        <main class="contents image_wrapper">
            <p class="info">
                アップロードする画像を選択してください。
            </p>
            <ons-button ng-click="showCamera()">
                <ons-icon icon="fa-camera"></ons-icon> カメラで撮影する</ons-button>
            <ons-button ng-click="showGallery()">
                <ons-icon icon="fa-image"></ons-icon> ギャラリーから選ぶ</ons-button>
        </main>
        <link rel="stylesheet" href="css/post.css">
    </ons-page>
</ons-template>
<ons-template id="post.html">
    <ons-page ng-controller="postCtrl" ng-init="init()">
        <ons-toolbar fixed-style class="with-back">
            <div class="left">
                <ons-back-button modifier="back">戻る</ons-back-button>
            </div>
            <div class="center">
                投稿フォーム
            </div>
        </ons-toolbar>
        <main>
            <div id="thumbnail">
                <img id="upload_img" class="img-resize" ng-src="{{piece.imageURI}}">
            </div>
            <div class="contents">
                <form name="postForm" novalidate>
                    <dl>
                        <dt class="map_marker">住所</dt>
                        <dd><span ng-bind="piece.address"></span></dd>
                        <dt class="user">名前</dt>
                        <dd>
                            <input type="text" name="name" ng-model="piece.name" required ng-maxlength="8" hide-tabbar>
                            <span ng-show="postForm.name.$error.required">必ず入力してください</span>
                            <span ng-show="postForm.name.$error.maxlength">8文字以下で入力してください</span>
                        </dd>
                        <dt class="comment">コメント</dt>
                        <dd>
                            <textarea name="comment" cols="30" rows="10" ng-model="piece.comment" hide-tabbar required ng-maxlength="100"></textarea>
                            <div>
                                <span ng-show="postForm.comment.$error.required">必ず入力してください</span>
                                <span ng-show="postForm.comment.$error.maxlength">100文字以下で入力してください</span>
                            </div>
                        </dd>
                    </dl>
                    <div class="position_center">
                        <ons-button ng-click="post(piece)" modifier="orange post">登録する</ons-button>
                    </div>
                </form>
            </div>
        </main>
        <link rel="stylesheet" href="css/page_back_color.css">
        <link rel="stylesheet" href="css/form.css">
        <link rel="stylesheet" href="css/post.css">
    </ons-page>
</ons-template>
<ons-template id="post_info.html">
    <ons-page>
        <ons-toolbar fixed-style>
            <div class="center">
                画像選択
            </div>
        </ons-toolbar>
        <main>
            <h1>投稿が完了しました</h1>
        </main>
    </ons-page>
</ons-template>