<ons-page ng-controller="postCtrl" ng-init="init()">
	<ons-toolbar fixed-style class="with-back">
		<div class="left">
			<ons-back-button modifier="back">戻る</ons-back-button>
		</div>
		<div class="center">
			投稿フォーム
		</div>
	</ons-toolbar>
	<main class="form_bg height80">
		<div class="thumbnail">
			<img id="upload_img" class="img-resize" ng-src="{{piece.imageURI}}">
		</div>
		<div class="contents">
			<form name="postForm" novalidate>
				<dl>
					<dt class="map_marker any">住所</dt>
					<dd><span ng-bind="piece.address"></span></dd>
					<dt class="user" ng-class="{any: user.isLogin == true}">名前</dt>
					<dd ng-hide="user.isLogin">
						<input type="text" name="name" ng-model="piece.name" required name-length hide-tabbar>
						<div class="error" ng-messages="postForm.name.$error" ng-messages-multiple ng-if="postForm.name.$touched">
						  <div ng-repeat="error in errors">
							<span ng-message-exp="error.key">{{error.msg}}</span>
						  </div>
						</div>
					</dd>
					<dd ng-show="user.isLogin"><span ng-bind="piece.name"></span></dd>
					<dt class="comment">コメント</dt>
					<dd>
						<textarea name="comment" cols="30" rows="7" ng-model="piece.comment" hide-tabbar required ng-maxlength="100"></textarea>
						<div class="error" ng-messages="postForm.comment.$error" ng-messages-multiple ng-if="postForm.comment.$touched">
						  <div ng-repeat="error in errors">
							<span ng-message-exp="error.key">{{error.msg}}</span>
						  </div>
							<span ng-message="maxlength">100文字以下で入力してください</span>
						</div>
					</dd>
				</dl>
				<div class="position_center">
					<ons-button ng-click="post(piece)" modifier="orange post" ng-disabled="postForm.$invalid == null || postForm.$pristine">登録する</ons-button>
				</div>
			</form>
		</div>
	</main>
	<link rel="stylesheet" href="css/form.css">
</ons-page>
