<ons-toolbar fixed-style>
    <div class="center">
        登録完了
    </div>
</ons-toolbar>

<h1 class="top_icon">
    <ons-icon icon="fa-heart-o" size="4x"></ons-icon><br>
    ご登録ありがとうございます
</h1>

<p>
    会員登録の手続きが完了しました。　　　　　<br>
    引き続き情報提供のご協力をお願いします。　
</p>
<br>
    
<div class="position_center">
    <ons-button  style="margin-bottom: 25px;"
        modifier="orange"
        class="btn"
        ng-click="myNavigator.pushPage('#')">
        投稿する
    </ons-button>
    <ons-button
        class="btn"
        ng-click="myNavigator.pushPage('#')">
        情報を見る
    </ons-button>
</div>
    
<link rel="stylesheet" href="css/form.css">