<ons-toolbar fixed-style class="with-back">
    <div class="left">
        <ons-back-button modifier="back">戻る</ons-back-button>
    </div>
    <div class="center">
        会員登録
    </div>
</ons-toolbar>
<div class="form_contents" ng-controller="userCtrl">
    <form class="contents" name="signUpForm" novalidate>
        <dl>
            <dt class="user">名前</dt>
            <dd>
                <input type="text" name="username" style="width: 50%;" required name-length ng-model="signup.username" hide-tabbar/>
                <div class="error" ng-messages="signUpForm.username.$error" ng-messages-multiple ng-if="signUpForm.username.$touched">
                  <div ng-repeat="error in errors">
                    <span ng-message-exp="error.key">{{error.msg}}</span>
                  </div>
                </div>
            </dd>
            <dt class="email">メールアドレス</dt>
            <dd>
                <input type="email" name="email" ng-model="signup.email" hide-tabbar required email-length />
                <div class="error" ng-messages="signUpForm.email.$error" ng-messages-multiple ng-if="signUpForm.email.$touched">
                  <div ng-repeat="error in errors">
                    <span ng-message-exp="error.key">{{error.msg}}</span>
                  </div>
                </div>
            </dd>

            <dt class="key">パスワード</dt>
            <dd>
                <input type="password" name="password" ng-model="signup.password" hide-tabbar required  pass-type pass-length />
                <div class="error" ng-messages="signUpForm.password.$error" ng-messages-multiple ng-if="signUpForm.password.$touched">
                  <div ng-repeat="error in errors">
                    <span ng-message-exp="error.key">{{error.msg}}</span>
                  </div>
                </div>
            </dd>

            <dt class="key">パスワード(確認)</dt>
            <dd>
                <input type="password" name="confirm" ng-model="signup.confirm" hide-tabbar required match="signup.password" pass-type pass-length/>
                <div class="error" ng-messages="signUpForm.confirm.$error" ng-messages-multiple ng-if="signUpForm.confirm.$touched">
                  <div ng-repeat="error in errors">
                    <span ng-message-exp="error.key">{{error.msg}}</span>
                  </div>
                </div>
            </dd>
        </dl>

        <div class="position_center">
            <ons-button style="margin-top: 15px;" modifier="orange" class="btn" ng-click="signUp()" ng-disabled="!signUpForm.$valid">
                登録する
            </ons-button>
        </div>
    </form>
</div>
