<header>
   <div>
        <span class="subtitle">-災害情報共有アプリ-</span>
        <span class="title">ソコキテ</span>
   </div>
</header>
<div>
<main class="wrapper" ng-init="topInit()">
	<div id="login_name">こんにちは。{{$root.user.username}}さん
	</div>
    <div class="contents">
        <ul id="func-navi">
            <li>
                <ons-button modifier="border orange" ng-click="toPostPage()">
                    <ons-icon icon="fa-pencil" size="3x"></ons-icon><br>投稿する
                </ons-button>
            </li>
            <li>
                <ons-button ng-click="toDisplayPage()" modifier="border"><ons-icon icon="fa-file-image-o" size="3x"></ons-icon><br>情報を見る</ons-button>
            </li>
        </ul>
        <div id="login_navi" ng-hide="$root.user.isLogin">
            <p class="arrow_box">登録すると投稿が簡単になったり、投稿した情報が探しやすくなります。</p>
            <ons-button modifier="login" ng-click="toLoginPage()">ログイン/会員登録</ons-button>
        </div>
    </div>
    <div class="fin_contents">
        <h2>対応完了のお知らせ</h2>
        <div class="list_loading" ng-hide="isLoad"><ons-icon icon="ion-load-c" spin="true"></ons-icon></div>
        <div ng-show="isLoad">
		  <p ng-bind="list_error" ng-show="list_error" class="list_error"></p>
          <ons-list modifier="fin_list" ng-if="items.length > 0">
        		<ons-list-item modifier="chevron" class="info" ng-click="toDetail(p.objectId)" ng-repeat="p in items">
        			<ons-row class="date right">
        				<span ng-bind="p.updateDate | date:'yyyy/MM/dd HH:mm'"></span>
        			</ons-row>
        			<ons-row>
        			<ons-col width="105px">
        			  <div class="photo">
        			  	<img class="photo" ng-src="{{$root.imgUrl}}/{{p.photo}}">
        			  </div>
        			</ons-col>
        			<ons-col>
        				<span to-correspond="{{p.correspond}}"></span>
        			  <div class="address" ng-bind="p.address"></div>
        			  <div class="name"><span ng-bind="p.username"></span>さん</div>
        			  <div ng-bind="(p.comment | abbreviate)"></div>
        			</ons-col>
        			</ons-row>
        		</ons-list-item>
        	</ons-list>
        </div>
    </div>
    <div id="logout_navi" class="contents">
        <ons-button ng-click="signOut()" ng-show="user.isLogin">ログアウト</ons-button>
    </div>
</main>
<link rel="stylesheet" href="css/display.css">
