.list {
	padding-bottom: 100px;
}
.list__item {
	line-height: 30px;
}

.list__item:last-of-type {
	border-bottom: 1px solid #808080;
}

.right {
	display:block;
	text-align: right;
}

.count {
    padding: 20px 0 20px 10px;
	font-family: 'Noto500', sans-serif;
}

.info {
	font-family: 'Noto400', sans-serif;
}

.info div, info .correspond {
	margin-bottom: 2px;
	margin-top: 2px;
}

.name {
	color: #808080;
	font-size: 0.8em;
}

.row--modify_date {
	padding: 3px 0;
}

.spin {
	text-align: center;
}

/*対応状況*/
.correspond {
	line-height: 1em;
	text-align: center;
	padding: 4px 5px;
	font-family: 'Noto500', sans-serif;
	box-sizing: border-box;
	border-radius: 3px;
}

/*対応状況(これから対応します)*/
.still {
	width: 100px;
	color: #666;
	border: 1px solid #666;
}

/*対応状況(対応中です)*/
.now {
	width: 80px;
	background-color: #fdd37d;
	color: #666;
}

/*対応状況(対応しました)*/
.fin {
	width: 80px;
	background-color: #29abe2;
	color: #fffffa;
}

/*一覧の写真サイズ*/
.info .photo {
	vertical-align: middle;
    background-color: #333;
	width: 95px;
}

info .photo img {
	max-width: 90px;
    max-height: 90px;
    width: expression(this.width >= this.height ? "90px" : "auto");
	height: expression(this.width <= this.height ? "90px" : "auto");
    margin: 0 auto;
}

/*詳細画面のタブ表示*/
.action-col {
    text-align: center;
    color: #808080;
    border-right: 1px solid #808080;
	box-sizing: border-box;
	padding:13px 0 10px;
}

.active_tab {
    border-bottom: 6px solid #ffd37d;
}
.action-col:active {
  opacity: 0.7;
}

.sub_info {
	display: table;
	padding: 20px 0 5px;
	width: 96%;
	margin: 0 auto;
	font-family: 'Noto400', sans-serif;
}

.sub_info>div{
	width: 40%;
	display: table-cell;
	vertical-align: top;
}

.left_info {
	line-height: 2em;
	font-size: 0.8em;
}

.right_info {
	font-size: 0.9em;
}

.action-col:last-of-type {
    border-right: none;
}

.action-icon {
  font-size: 1.4em;
	padding-bottom: 5px;
}

.action-label {
    font-size: 0.9em;
	font-family: 'Noto400', sans-serif;
}

.map {
	min-height: 60%;
	padding-bottom: 30px;
}

.map span {
	display: block;
	padding-bottom: 20px;
}

/*詳細画面の余白設定*/
.detail_contents {
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
	font-family: 'Noto400', sans-serif;
	min-height: 30%;
	padding-bottom: 50px;
}

.detail_contents p {
	line-height: 1.3em;
}
