/* This is a CSS file */
.list {
    border-top:none;
}

.list__item {
    line-height: 0;
    padding: 0;
}

.card {
  background-color: white;
  background-image: url(images/sushi-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 250px;
}

.card-toolbar ons-back-button span {
  color: white;
}

.action-col {
    text-align: center;
    color: #808080;
}

.active_tab {
    border-bottom: 6px solid #ffd37d;
}
.action-col:active {
  opacity: 0.7;
}

.action-col:first-of-type {
    border-right: 1px solid #4d4d4d;
}

.action-col a {
    display: block;
    width: 100%;
}
.action-icon {
  padding-right: 5px;
  font-size: 1.2em;
}

.action-label {
    font-size: 1.3em;
    color: #4d4d4d;
    padding: 18px 0 10px;
}

.top_icon {
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
    font-family: 'Noto700';
    padding-bottom: 15px;
    background-color: #ffffff;
}
p {
    font-family: 'Noto500', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px 20px;
    font-size: 1em;
    line-height: 1.5;
}
.under {
    border-bottom: solid 2px #f7931e;
}
.form_contents {
    width: 100%;
    border-top: solid 1px #808080;
}
form dt {
    line-height: 1.5;
}
.pad_bottom {
    padding-bottom: 20px;
}
input {
    width: 100%;
    padding: 8px 0px;
    border: solid 1px #808080;
    border-radius: 3px;
}
.pass_change {
    padding: 10px 0px 35px;
}
.pass_change a {
    color: #36a284;
}
.position_center {
    text-align: center;
}
.btn {
    width: 50%;
}