/* This is a CSS file */
.form_bg {
	display: block;
	background-color: #f2f2f2;
	overflow: hidden;
	padding-bottom: 50px;
}

.list {
    border-top:none;
}

.list__item {
    line-height: 0;
    padding: 0;
}

.top_icon {
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
    font-family: 'Noto700';
    padding-bottom: 15px;
    background-color: #ffffff;
}

.top_icon .top {
    font-size: 4.3em;
    padding: 15px 0 10px;
}

.top_icon .reset_icon {
	font-size: 2.3em;
	padding: 10px 0 8px;
}

.form_contents {
    width: 100%;
    border-top: solid 1px #808080;
    padding-top: 10px;
}

p.reset_desc {
	line-height: 1.4;
	padding-bottom: 5px;
}

.contents {
    padding-top: 10px;
}

form dt {
   margin-bottom: 5px;
}

form dd {
    padding-bottom: 20px;
}

form dd.password {
	padding-bottom: 10px;
}

input[type="text"], input[type="email"],
input[type="password"], textarea {
    width: 100%;
    padding: 8px 0px 8px 5px;
    border: solid 1px #808080;
    border-radius: 3px;
	box-sizing: border-box;
}
.pass_change {
    padding: 0px 0px 20px;
}
.pass_change a {
    color: #36a284;
}
.position_center {
    text-align: center;
}

/*詳細画面-職員用対応状況*/
.button-bar__item {
	background-color: #fffffa;
}
.button-bar__item > .staff_toggle {
	border: 1px solid #808080;
	border-bottom: none;
	text-align: left;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.button-bar__item:first-child > .button-bar__button,.button-bar__item:last-child > .button-bar__button {
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
}

.button-bar__item:first-child > .button-bar__button {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.button-bar__item:last-child > .button-bar__button {
	border-bottom: 1px solid #808080;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.btn {
    width: 60%;
}

form dt:before {
    margin-right: 1px;
}

/*必須タグ*/
form dt:after {
    content: '必須';
    font-family: 'Noto400';
    background-color: #ea553a;
    color: #fffffa;
    font-size: 0.7em;
    border-radius: 3px;
    margin-left: 2px;
    padding: 3px;
    vertical-align: middle;
    margin-left: 5px;
}

form dt.any:after {
	content: '';
	background-color: transparent;
	padding: 0;
	margin: 0;
}
