/* This is a CSS file */

.top_icon {
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
    font-family: 'Noto700';
    padding-bottom: 15px;
}
.form_back {
    background-color: #f2f2f2;
    border-top: solid 1px #808080;
    height: 100%;/*←---------------------？？？*/
}
input {
    width: 100%;
    padding: 8px 0px;
    border: solid 1px #808080;
    border-radius: 3px;
}
.pass_change {
    padding: 10px 0px 35px;
}
.pass_change a {
    color: #36a284;
}
.position_center {
    text-align: center;
}
.btn {
    width: 50%;
}