.contents_position .button{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 0px;
}

.list_button_position {
	padding-top:10px;
}

.button--post {
    width: 60%;
    margin: 0 auto 70px;
}

.thumbnail {
	width: 100%;
	color: white;
	text-align: center;
}

.thumbnail span {
	min-height: 200px;
	position: relative;
	display: inline-block;
}

.thumbnail span > * {
	position: absolute;
	top:50%;
}