/* This is a CSS file */

.form_back {
    background-color: #f2f2f2;
    border-top: solid 1px #808080;
    height: 100%;/*←---------------------？？？*/
}
input {
    width: 100%;
    padding: 5px 0px;
    border: solid 1px #808080;
    border-radius: 3px;
}
.position_center {
    text-align: center;
}
.btn {
    width: 50%;
}