@font-face {
    font-family: 'Noto400';
    font-weight: 400;
    src: url("../font/NotoSansCJKjp-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Noto500';
    font-weight: 500;
    src: url("../font/NotoSansCJKjp-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Noto700';
    font-weight: 700;
    src: url("../font/NotoSansCJKjp-Bold.woff") format("woff");
}

ons-page .contents {
    font-family: 'Noto400', sans-serif;
    background-color: #fffffa;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1em;
}

.navigation-bar--header {
    border-bottom: 2px solid #4d4d4d;
    font-family: 'Noto500';
}

h1 {
    font-family: 'Noto700', sans-serif;
}

h2 {
    font-family: 'Noto400', sans-serif;
    color: #333;
}
.noto400 {
    font-family: 'Noto400', serif;
}

.noto350 {
    font-family: 'Noto350', serif;
}

.noto500 {
    font-family: 'Noto500', serif;
}

.noto700 {
    font-family: 'Noto700', serif;
}

ons-list-item {
    font-size: 13px;
    color: #666;
}

.info {
    padding: 3% 0 3% 3%;
}
.info div {
    line-height: 1.3;
    font-size: 1.1em;
    width: 85%;
}

.info .date {
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
    color: #808080;
}

.info .address {
    font-family: 'Noto700', sans-serif;
}

.info .address:before {
    font-size: 0.9em;
    font-family: 'FontAwesome';
    content: '\f041';
    padding-right: 5px;
}

.info .comment {
    font-family: 'Noto400', sans-serif;
}

.button {
    background-color: #36a284;
    border-radius: 3px;
    font-family: 'Noto500', sans-serif;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 3px 8px -1px #444;
    font-family: 'Noto500', sans-serif;
    text-align: center;
    padding: 2% 0;
}

.button--border {
    background-color: #36a284;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #4d4d4d, 0px 3px 8px -1px #444;
    border: 7px solid white;
    border-radius: 3px;
    font-size: 1.2em;
}

.button--orange {
    background-color: #f7931e;
}

.button ons-icon {
    padding-bottom: 5%;
}
