@font-face {
    font-family: 'Noto400';
    font-weight: 400;
    src: url("../font/NotoSansCJKjp-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Noto500';
    font-weight: 500;
    src: url("../font/NotoSansCJKjp-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Noto700';
    font-weight: 700;
    src: url("../font/NotoSansCJKjp-Bold.woff") format("woff");
}

.contents {
    font-family: 'Noto400', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 1em;
}

.navigation-bar {
    height: 48px;
    border-bottom: 2px solid #4d4d4d;
}

.navigation-bar .center {
    font-size: 1.2em;
    font-family: 'Noto500';
    display: table-cell;
    vertical-align: middle;
}

.navigation-bar .left {
    height: 100%;
    width: 20%;
}

.with-back > .center {
    width: 60%;
}

.toolbar-button--back {
    text-align: left;
    font-family: 'Noto400';
    color: #4d4d4d;
}

h1 {
    font-family: 'Noto700', sans-serif;
}

h2 {
    font-family: 'Noto400', sans-serif;
    color: #333;
}

ons-list-item {
    font-size: 13px;
    color: #666;
}

.info {
    padding: 3% 0 3% 3%;
}
.info div {
    line-height: 1.3;
    font-size: 1.1em;
    width: 85%;
}

.info .date {
    font-size: 0.9em;
    font-family: sans-serif;
    font-weight: bold;
    color: #808080;
}

.info .address {
    font-family: 'Noto700', sans-serif;
}

.info .address:before {
    font-size: 0.9em;
    font-family: 'FontAwesome';
    content: '\f041';
    padding-right: 5px;
}

.info .comment {
    font-family: 'Noto400', sans-serif;
}

.button {
    background-color: #36a284;
    border-radius: 3px;
    font-family: 'Noto500', sans-serif;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 3px 8px -1px #444;
    font-family: 'Noto500', sans-serif;
    text-align: center;
    padding: 7px 0;    
}

.button--border {
    background-color: #36a284;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #4d4d4d, 0px 3px 8px -1px #444;
    border: 7px solid white;
    border-radius: 3px;
    font-size: 1.2em;
}

.button--orange {
    background-color: #f7931e;
}

.button ons-icon {
    padding-bottom: 5%;
}

.navigation-bar .top-padding {
    padding-top: 3px;
}

header div {
    padding: 7px 0;
    border-bottom: 2px solid #444;
    background-color: #fdd37d;
    text-align: center;    
}

header div .subtitle {
    font-size: 0.7em;
    font-family: 'Noto400';
}

header div .subtitle:after, .loading span:after {
    content: "\A";
    white-space: pre;
}

header .title {
    font-size: 1.5em;
    font-family: 'Noto700', sans-serif;
}

div .list h2 {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fdd37d;
    display: block;
    font-size: 1.3em;
    border: 2px solid #666666;
    border-left-width: 0;
    border-right-width: 0;
}

div .list h2:before {
    font-family: 'FontAwesome';
    content: '\f27e';
    font-size: 1.1em;
    padding-right: 10px;
}

#func-navi {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

#func-navi li {
    width: 44%;
    padding: 5px;
}

#func-navi li:first-child {
    float: left;
}

#func-navi li:last-child {
    float: right;
}

#func-navi li ons-button {
    width: 100%;
    height: 44%;
    padding: 15% 0 10%;
    box-sizing: border-box;
}

#login_name {
    padding-left: 6%;
    border-bottom: 1px solid #999;
    background-color:#fff;
    padding: 13px 0;
}

.button--login, #logout_navi .button{
    width: 100%;
}

.button--login:after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 1.5em;
    padding-left: 10px;
}

#login_navi {
    padding-bottom: 60px;
    width: 98%;
}

#login_navi .button {
    margin-top: 13px;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 2px solid #4d4d4d;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 7px;
    font-size: 0.8em;
    line-height: 1.2;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(77, 77, 77, 0);
	border-top-color: #4d4d4d;
	border-width: 13px;
	margin-left: -13px;
}

.loading {
    font-size: 1.5em;
    font-family: sans-serif;
    width: 40%;
    text-align: center;
    position: absolute;
    top:25%;
    left:30%;
    padding:10px 5px;
}

.loading span {
    display: block;
    margin-top: 10px;
}
/*地図マーカー*/
.map_marker:before {
    content: '\f041';
    font-family: 'FontAwesome';
    padding-right: 5px;
}

/*ユーザー*/
.user:before {
    content: '\f007';
    font-family: 'FontAwesome';
}

/*email*/
.email:before {
    content: '\f003';
    font-family: 'FontAwesome';
}

/*コメント*/
.comment:before {
    content: '\f27b';
    font-family: 'FontAwesome';
}

.key:before {
    content: '\f084';
    font-family: 'FontAwesome';
    transform: rotate(90deg);
    display: inline-block;
}

div .error {
    font-size: 0.8em;
    color: #ea553a;
}
